#head {
  background: black;
  height: 50px;
  width: 50px;
  background-color: green;
  position: absolute;
}

#body {
  background: black;
  height: 50px;
  width: 50px;
  background-color: green;
  position: absolute;
}

#board {
  height: 700px;
  width: 700px;
  border: 2px black solid;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}

#score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  width: 700px;
}

#scoreText {
  display: flex;
}

#currScore {
  display: flex;
  padding-left: 5px;
  padding-top: 1px;
}